@import '../../variables.scss';
@import '../../reset.scss';
@import '../../markdown.scss';

.blog-detail-page {
  .tech-bar {
    margin-top: $headerHeight;
  }
  .blog-content {
    padding: 80px 20%;
    margin: 0 auto;
    max-width: 735px;
  }
}