@import '../../variables.scss';

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  min-width: 140px;
  font-family: Avenir-Heavy;
  font-size: 14px;
  color: $brandColor;
  text-align: center;
  border: 1px solid $brandColor;
  text-decoration: none;
  padding: 0 12px;
  &::after {
    margin-left: 4px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid $brandColor;
    border-bottom: 1px solid $brandColor;
    transform: rotate(-45deg);
  }
  &:hover {
    color: #fff;
    background: $brandColor;
    &::after {
      border-color: #fff;
    }

  }
  &-normal {
    color: #fff;
    border-color: #fff;
    &::after {
      border-color: #fff;
    }
    &:hover {
      border-color: $brandColor;
      color: $brandColor;
      background: #fff;
      &::after {
        border-color: $brandColor;
      }
  
    }
  }
}