@import '../../variables.scss';

.bar {
  margin-top: $headerHeight;
  background-color: $brandColor;
  .bar-body {
    max-width: $contentWidth;
    margin: 0 auto;
    height: $barHeight;
    line-height: $barHeight;
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #FFF;
    position: relative;
    .left-img {
      width: 320px;
      height: 96px;
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    .right-img {
      width: 268px;
      height: 200px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
    span {
      position: absolute;
      left: 80px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
}