@import '../../variables.scss';

.slider {
  overflow: hidden;
  position: relative;
  .slider-list {
    overflow: visible;
    .slider-screen {
      display: inline-flex;
      justify-content: space-around;
      overflow: hidden;
    }
  }
  .slider-control {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    width: 240px;
    .slider-control-item {
      flex: 1;
      cursor: pointer;
      display: inline-block;
      height: 4px;
      background: rgba(255, 255, 255, 0.2);
      &-active {
        background-color: #54E56B;
      }
    }
  }
}